:root {
    --bg: #01011f;
	--soft-bg: #1f1f38a3;
	--soft-bg-top:#14142f;
	--text-color: #fff;
	--new-text: #ffffffc7;
	--soft-white: #ffffff0d;
	--main-color:#3d3afc;
	--shadow:#00000029;
	--drop-shadow: #0000008c;
	--fancy: #864eff;
	--new-fancy: #5923fc;
	--transpr-cy: #5d47a024;
	--gray-max: #808080;
	--gradie-fancy: linear-gradient(45deg, var(--main-color), var(--fancy));
}
.-fancy-c {
	background-image: linear-gradient(45deg,var(--main-color),var(--fancy));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
	font-weight: 900;
}
.-fancy-green {
	background-image: linear-gradient(45deg,#2cc900,#d0ff00);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
	font-weight: 700;
}
.-fancy-pink {
	background-image: linear-gradient(45deg,#c900c2,#962cff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
	font-weight: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: "Nunito", sans-serif;
}
body {
    background-color: var(--bg);
	color: var(--text-color);
	overflow: hidden;
  }

html {
	font-size: 15px;
}

/* SECTIONS */

section {
	height: max-content;
	padding: 100px 0 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.section-container {
	display: flex;
}

/* PROFILE SECTION */
#profile-home {
	display: flex;
	justify-content: center;
	gap: 5rem;
	padding: 11rem 0% 9rem;
}

.profile-img-properties {
	display: flex;
	height: 400px;
	width: 400px;
	margin: auto 0;
	animation: floatImage 4s ease-in-out infinite;

	
}
.section__mypf-pic {
	border-style: solid;
    border-width: 2px;
	border-radius: 20rem;
    border-color: var(--new-fancy);
}

@keyframes floatImage {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-1rem);
	}
	100% {
		transform: translateY(0);
	}
}

.section__text {
	align-self: center;
	text-align: center;
}

.section__text p {
	font-weight: 600;
	font-size: 25px;
}

.section__text__p1 {
	text-align: center;
}

.my__name {
	font-size: 3rem;
	text-align: center;
	color: #3d3afc;
	margin-top: .5rem;
	margin-bottom: .5rem;
    color: transparent;  /* Make text invisible initially */
  	background-image: linear-gradient(90deg, #3d3afc 0%, #864eff 30%, rgb(127 126 255) 60%, #3a35ff 80%, #3d3afc 100%);
  	background-size: 200%;
    background-clip: text;
  	-webkit-background-clip: text; /* For WebKit browsers (Chrome, Safari) */
  	animation: textglow 2s ease-in-out infinite alternate;
}

@keyframes textglow {
  from { background-position: 0%; }
  to   { background-position: 200%; }
}

.my-intro-block {
	font-size: 1.6rem;
	text-align: center;
}

.my-intro-block-txex02 {
	font-family: Sansita Swashed;
}

.my-intro-block-txex04 {
	font-family: Courier Prime;
	font-weight: 500;
}
/*-------------textscramble--------------*/
.textscramble_{
	margin-bottom: 1.1rem;
    font-size: 1.6rem;
    text-align: center;

	height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dud { color: var(--text-color);}
/*----------------------------------------*/

/* -------------------button action---------------------*/
.btn-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.btn {
	font-weight: 600;
	font-size: 15px;
	transition: all 300ms ease;
	padding: .5rem;
	width: 8rem;
	border-radius: 2rem;
	margin-bottom: .8rem;
	box-shadow: 0 0 1rem var(--shadow);
}

.btn-color-1 {
	border: var(--soft-bg) 0.1rem solid;
	background: var(--soft-bg);
	color: var(--text-color);
}
.btn-color-1:hover {
	cursor: pointer;
}
.btn-color-1:hover{
	background: var(--bg);
}
.btn-container {
	gap: 1rem;
}

/* social media icons */
.social_cont__ a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	background-color: var(--soft-bg);
	border: 1px solid var(--soft-bg);
	border-radius: 50%;
	font-size: 2rem;
	color: var(--text-color);
	margin: 0.5rem;
	transition: 0.5s ease;
}

.social_cont__ a:hover {
	background-color: var(--bg);
	color: var(--main-color);
	box-shadow: 0 0 1rem var(--shadow);
}

/* -------------------About section---------------------*/
.about-container {
	display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.right-box,.left-box {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 1.5rem;
}
.left-box {max-width: 22.5rem; height: 38rem;}

.left-box,.top-right-box,.bottom-right-box {
	background-color: var(--soft-bg);
	border: 0px solid var(--soft-bg);
	border-radius: 20px;
	box-shadow:0 15px 10px var(--shadow),0 3px 6px var(--shadow);
}

.top-right-box,.bottom-right-box {
	max-width: 64rem;
}

.bottom-right-box {
	/* height: max-content; */
	height: 24rem;
    width: 64rem;
}

.about--left-box{
	padding: 1.5rem 1.5rem;
    font-size: 25px;
    font-weight: 700;

	display: flex;
	flex-direction: column;
    align-items: center;
}
.about--left-box p {
	font-weight: 800;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}
.about--left-box p span {
	display: block;
	margin-left: 0;
	font-weight: 400;
	word-wrap: break-word;
}

.pad-001 {
	padding-left: 15px;
    padding-right: 15px;
}

.about-pic .section__mypf-pic {
	height: 10rem;
	width: 10rem;
}
/* row */
.row {
	display: flex;
    flex-wrap: wrap;
    position: relative;
}

.about-infosg {
    max-width: 100%;
}
.about-infosg-text {
	flex: 0 0 50%;
    max-width: 50%;
}

/* hire me button */
.hire-me-btn-part  {
	padding-top: 1.5rem;
}
.hire-me-btn {
	background: var(--fancy);
	color: var(--soft-bg-top);
	font-size: 18px;
	font-weight: 900;
	padding: 8px 16px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

	transition: box-shadow 0.3s ease;
}

.hire-me-btn:hover {
	background: var(--gradie-fancy);
	font-weight: 1000;
	box-shadow: 0 0 2rem var(--main-color)
}

/* ------ */
.about--me {
	padding: 1.5rem 1.5rem;
	font-size: 25px;
	font-weight: 700;
}

.about--me p {
	font-size: 17px;
	font-weight: 400;
	padding-top: 1rem;
    padding-left: 1rem;
}

.about--me p span { color: var(--fancy); font-weight: 500;}

/* about tab_box */

.about-me-slide {
	padding: 1.5rem 1.5rem;
    font-size: 25px;
    font-weight: 700;
}

.tab_box {
	display: flex;
    flex-wrap: wrap;
}

.tab_box .tab_btn {
	font-size: 18px;
	font-weight: 600;
	color: var(--text-color);
	background: none;
	border: none;
	padding: 4px 10px;
	cursor: pointer;
	border-radius: 50px;

	display: flex;
	justify-content: center;
}
.tab_box .tab_btn.active {
	color: var(--text-color);
	background-color: var(--bg);
	width: auto;
	border: 1px solid var(--new-fancy);
}

.content_box--- .content---{
	display: none;
	animation: moving1 .3s ease;
}
@keyframes moving1 {
	from{transform: translateX(50px); opacity: 0;}
	to{transform: translateX(0px); opacity: 1;}
}

.content_box--- .content---.active {
	display: block;
}

.content--- h2{
	font-size: 25px;
	font-weight: 700;
	padding-right: 2.5rem;
}
.content--- p {
	font-size: 17px;
    font-weight: 400;
    padding-top: 1rem;
    padding-left: 1rem;
}

/* about tab button logo */
.tab_btn svg {
	display: none;
}
.tab_btn.active svg {
	display: block;
}

/* about experirnce percentages */
article {
	width: 11rem;
}
.skill_level{
    background: var(--text-color);
    width: 100%;
    height: 4px;
    border-radius: 10px;
}
.skill{
    background: var(--bg);
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid var(--fancy);
    border-radius: 10px;
    width: 5.5rem
}
.row article h1 {
	font-size: 15px;
	font-weight: 400;
	padding-bottom: 3px;
}
.percentage-- {
	font-size: 15px;
	font-weight: 400;
	position: relative;
    left: 89px;
    top: -16px;
}
.content--- .row article h1 {
	width: 11rem;
}
.column {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	flex-direction: row;
	padding: 2rem 2rem 2rem 2rem;
	gap: 1rem;
}
.line-bw- {
	min-width: 5rem;
    width: 69rem;
    border: 1px solid var(--bg);
    opacity: 80%;
    margin-bottom: 1rem;

}
.sec-row-new {
	margin-top: 1.5rem;
}

/* Educaton time line */

.time-line-box { 
	padding: 3rem 3rem 3rem 1rem;
	background-color: var(--soft-bg-top);
	display: grid
  }
  
  .time-line-box .timeline {
	list-style-type: none;
	display: flex;
	padding: 0;
	text-align: center;
  }
  
  .time-line-box .timestamp {
	margin: auto;
	margin-bottom: 9px;
	padding: 0px 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .time-line-box .status {
	padding: 0px 10px;
	display: flex;
	justify-content: center;
	border-top: 3px solid var(--fancy);
	position: relative;
	transition: all 200ms ease-in;
	
	font-size: 14px;
	font-weight: 400;
  }
  .time-line-box .status span {
	padding-top: 10px;
  }
  .time-line-box .status span:before {
	content: '';
	width: 12px;
	height: 12px;
	background-color: var(--soft-bg-top);
	border-radius: 12px;
	border: 2px solid var(--fancy);
	position: absolute;
	left: 50%;
	top: -2%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: all .1s ease-in;	
  }

  .swiper-container {
	width: 95%; 
	margin: auto;
	/* overflow-y: auto; */
  }
  
.swiper-wrapper svg { 
	border: none;
    width: 29px;
    height: 30px;
	background-color: var(--soft-bg-top);
	border: 2px solid var(--fancy);
    border-radius: 20px;
    top: 1.4rem;
    position: relative;
    padding: 3px;
}
  
.swiper-wrapper{
	display: inline-flex;
	flex-direction: row;
	overflow-y:auto;
	justify-content: center;
  }
  .swiper-container::-webkit-scrollbar-track{
	 background:#a8a8a8b6;
  }
  .swiper-container::-webkit-scrollbar{
	height: 2px;
  }
  .swiper-container::-webkit-scrollbar-thumb{
	 background: #4F4F4F !important;
  }
  .swiper-slide {
	text-align: center;
	font-size: 12px;
	width: 200px;
	height: 100%;
	position: relative;
  }
  .date-01 {
	font-size: 19px;
	font-weight: 700;
  }

  /* hover to show years */
  .time-line-box .status span:hover:before { /*div1*/
	width: auto;
	height: 1rem;
	padding: 0 5px 1px 5px;
	text-align: center;
	font-size: 13px;
  }
  .time-line-box div1 .status span:hover:before { /*div1*/content: '2021';}
  .time-line-box div2 .status span:hover:before { /*div1*/content: '2021-26';}
  .time-line-box div3 .status span:hover:before { /*div1*/content: '****';}

/* about my tools reveals */

.tools-ttl {
	text-align: center;
	font-size: 20px;
}
.inside-tool-s .row {
	padding-top: 1rem;
}

/* ---- */
.tools-f-box {
    width: 138px; /* Initial width */
    height: 80px; /* Initial height */
    padding: 1rem;
    border: 2px solid var(--fancy);
    border-radius: 20px;
    background-color: var(--soft-bg-top);
    box-shadow: 0 15px 10px var(--shadow), 0 3px 6px var(--shadow);
    transition: all 0.3s ease-in-out;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.tools-f-box:hover {
    width: 30rem; /* Width on hover */
    height: 15rem; /* Height on hover */
}

.tools-f-box .tools-ttl .inside-tool-s {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tools-f-box:hover .tools-ttl .inside-tool-s {
    opacity: 1;
    transform: scaleY(1);
}

/* ----- */
.sec-row {
	margin-top: 2rem;
	gap: 1rem;
}

.inside-tool-s .row h1, .my--hobbies .row .my_hibby- h1 {
	font-size: 15px;
	font-weight: 300;
	color: var(--text-color);
	padding: 0.5rem;
	position: relative; 
}

.inside-tool-s .row h1::before {
	content: 'ÖŽ';
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.2rem;
	color: var(--fancy);
	margin-bottom: 0.4rem;
}

.tool-item, .my_hibby- {
    position: relative;
}

.tool-item:hover h2 ,.my--hobbies .row .my_hibby-:hover h2 {
    display: block;
}

.tool-item h2 ,.my--hobbies .row h2 {
	display: none;
	position: absolute;
    top: -5px;
    right: 0;
	width: max-content;
    color: var(--text-color);
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    border-radius: 7rem;
    box-shadow: 0.5px var(--text-color);
    background-color: #181818;
    font-size: 10px;
	text-align: center;
    color: var(--text-color);
	z-index: 100;
}

/* ????--- */
.my--hobbies .row {
    display: flex;
    position: relative;
    padding: 0rem 1rem 1rem 4.5rem;
    gap: 0;
    flex-direction: column;
    align-items: flex-start;
}

.my_hibby- h1 svg {
	position: relative;
	top: 5px;
	color: var(--fancy);
}

/*--------------------- skill section------------------ */
#skills {
	padding: 6rem 2rem 0 2rem;
}
.skill-block {
	width: auto;
    height: max-content;
	background-color: var(--soft-bg);
	border-radius: 20px;
	padding: 2rem;
	box-shadow: 0 15px 10px var(--shadow), 0 3px 6px var(--shadow);
	font-size: 25px;
    font-weight: 700;
}
.sec-row-1 {
	margin-top: 1rem;
	gap: 1.5rem;
	justify-content: center;
}
.skillbox-child {
	width: 19.8rem;
	height: 28rem;
	border-radius: 20px;
	background-color: var(--bg);
	display: flex;
	justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1.5rem;
	font-weight: 300;
    font-size: 17px;
}
.skillbox-child p {color: var(--new-text);}
.skl-child-top {
	width: 4rem;
	height: 4rem;
	border-radius: 5rem;
	background-color: var(--soft-bg-top);

	display: flex;
	justify-content: center;
    align-items: center;
}
.skl-child-bottom {
	text-align: center;
	/* padding: 0 1rem 0 1rem; */
}
.skl-child-bottom h1 {
	padding-bottom: 0.5rem;
}
.skillbox-child:hover .skl-child-top { /* :hover */
	background: var(--gradie-fancy);
}
.skillbox-child:hover .skl-child-top svg {
	fill: var(--bg);
}

/* ---------------------project section-------------------- */

#projects {
	padding-bottom: 5rem;
}

.projecct-block {
	width: auto;
    height: max-content;
	padding: 0 2rem 2rem 2rem;
	font-size: 25px;
    font-weight: 700;
}

.my--heading {padding-bottom: 3.5rem;}

/* project-card */

/* ----- */


/* ----- */
.projrct--btn {
	padding-top: 2rem;
	display: flex;
    justify-content: center;
}
.sec-row-2 {
	margin-top: 1rem;
    gap: 3rem;
    justify-content: center;
}

.top-img-card-1, .top-img-card-2 {
animation: topImage 3s ease-in-out infinite;
}

@keyframes topImage {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

/*---------------------    BYTES    ------------------ */
#bytes {
	padding-bottom: 5rem;
}

/*--------------------- contact form------------------ */
#contact {
	padding: 100px 0 0;
}
.contact-container {
	height: max-content;
	padding: 3rem 3rem 3rem 11rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 4rem;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
	background-color: var(--soft-bg);
	padding: 2.9rem 3rem 2rem 3rem;
	border-radius: 20px;
	box-shadow: 0 15px 10px var(--shadow), 0 3px 6px var(--shadow);
}

.submit-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
	padding-top: 0.5rem;
}

.contact-right-title h2{
	font-weight: 700;
	color: var(--text-color);
	font-size: 20px;
	margin-bottom: 5px;
}

/* .contact-left-title hr {
	border: none;
	width: 120px;
	height: 1px;
	background-color: var(--new-fancy);
	border-radius: 10px;
	margin-bottom: 20px;
} */

.contact-inputs {
	width: 400px;
	height: 50px;
	border: none;
	outline: none;
	padding-left: 25px;
	font-weight: 500;
	color: var(--main-color);
	border-radius: 50px;
	background-color: var(--bg);
}

.contact-right textarea {
	height: 140px;
	padding-top: 15px;
	border-radius: 20px;
}

.contact-inputs:focus {
	border: 2px solid var(--fancy);
}
.contact-inputs::placeholder {
	color: var(--fancy);
	opacity: 70%;
}
.contact-right button {
	display: flex;
	align-items: center;
}

.contact-right .hire-me-btn .submit-arrow {
	/* position: relative; */
	right: -1px;
	transition: all 0.3s ease;
}
.contact-right .hire-me-btn:hover .submit-arrow{
	padding-left: 10px;
}
/* _______ */
.after-click-subm {
	display: none;
}
.contact-right .hire-me-btn:hover .after-click-subm {
	display: block;
}
.before-click-subm {
	display: block;
}
.contact-right .hire-me-btn:hover .before-click-subm {
	display: none;
}
/* _______ */

/* _________________________s'flash submit----------- */
.submit-wrapper {
	position: relative;
	/* width: 100%; */
	z-index: 1;
	/* margin-bottom: 20px; */
  }

.shadow-input1 {
	content: '';
    display: block;
    position: absolute;
    left: 35%;
    z-index: -1;
    width: 30%;
    height: 85%;
    box-shadow: 0px 0px 0px 0px;
    color: var(--main-color);
    border-radius: 10rem;
}

.hire-me-btn:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/* contact right side */
.contact-left {
	rotate: -20deg;
    left: 1rem;
    position: relative;
}
.contact-left-img {
	position: relative;
    width: 28rem;
    height: 28rem;
    top: -4rem;
    right: 5rem;
}

.mail-cont-illu {
	position: absolute;
	top: 11rem;
	right: 3rem;
}
.mail-cont-illu-back {
	position: absolute;
	opacity: 80%;
}

.social-media-btn {
	padding: 1rem;
	background-color: var(--soft-bg);
	position: absolute;
	border: 0px solid;
	border-radius: 70px;
}
.social_cont__ .contact-icon-s {
	height: 3.9rem;
    width: 3.9rem;
	position: absolute;
	border: none
}

.social_cont__ .linked-in-con {
    top: -10px;
    right: 152px;
}

.social_cont__ .github-con{
	top: -8px;
    right: 73px;
}
.social_cont__ .mail-con {
	top: -7px;
    right: 343px;
}
.social_cont__ .x-twitter-con {
	top: 230px;
    right: 439px;
}
.social_cont__ .reddit-con {
	top: 107px;
    right: 418px;
}
.social_cont__ .insta-con {
	top: 454px;
    right: 2px;
}
/* mobile-view-contact-left */
.mobile-view-con-left {
	display: none;
}

/*-------------- footer------------ */
footer {
	height: 4rem;
	width: 100%;
	background-color: var(--soft-bg);
}
.footer-container {
	display: flex;
    justify-content: center;
    padding: 21px;
    color: var(--gray-max);
	text-align: center;
}

