:root {
  --bg: #01011f;
--soft-bg: #1f1f38a3;
--soft-bg-top:#14142f;
--text-color: #fff;
--new-text: #ffffffc7;
--soft-white: #ffffff0d;
--main-color:#3d3afc;
--shadow:#00000029;
--drop-shadow: #0000008c;
--fancy: #864eff;
--new-fancy: #5923fc;
--transpr-cy: #5d47a024;
--gray-max: #808080;
--gradie-fancy: linear-gradient(45deg, var(--main-color), var(--fancy));
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 20rem; 
  width: 20rem;
  padding: 1rem;
  background-color: var(--soft-bg);
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  top: 0;
  box-shadow: 0 15px 10px var(--shadow), 0 3px 6px var(--shadow);
  transition: top .3s ease-in-out;
}
.project-cards:hover .card {
  top: -1rem;
}


.card__image {  
  width: 18rem;
  height: 12rem;
  border-radius: 10px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 0;
  z-index: 1;      
  border-radius: 20px;    
  background-color: var(--soft-bg-top);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
  width: 18rem;
}

.project-cards:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 20px;    
  background-color: var(--soft-bg-top);
  transform: translateY(-74%);
  transition: .2s ease-in-out;
}

.project-cards:hover .card__header {
  transform: translateY(0);
}


.card__title {
  font-size: 20px;
  text-align: center;
  color: var(--text-color);
  transition: color 0.2s ease-in-out;
}
.project-cards:hover .card__title {
  color: var(--new-fancy);
}

.card__description {
  padding: 0 1rem 1rem;
  color: var(--text-color);
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}    

/* - */

.proj-read-more p {
	font-size: 15px; 
  font-weight: 300;
	color: var(--new-text);
}

/* -- */
.proj-read-more {
	display: flex;
  flex-direction: row;
  font-size: 15px;
}
.proj-read-more svg {
	fill: var(--new-text);
	padding-top: 2px;
	transition: margin-left 0.3s ease;
}
.proj-read-more:hover svg {
	margin-left: 10px;
}
/* ------color dot */
.card:hover .color-dot {
	color: #188018;
	animation: blink 1s infinite;
}

@keyframes blink {
	0%, 100% {
		color: #188018;
	}
	50% {
		color: var(--new-text);
	}
}

/* top hover image */
.project-cards .project-card-top {
	position: absolute;
	z-index: 100;
}
.project-card-top .top-img-card-1,.project-card-top .top-img-card-2 {
	opacity: 0;
	visibility: hidden;
	width: 7rem;
	height: 7rem;
	position: relative;
	left: 0;
	top: 0;
	filter: drop-shadow(5px 8px 6px var(--drop-shadow));
	transition: left 0.6s ease, top 0.6s ease, opacity 0.6s ease, visibility 0.6s ease;
}

.project-cards:hover .project-card-top .top-img-card-1 {
	opacity: 1;
	visibility: visible;
	left: -39px;
    top: -44px;
}
.project-cards:hover .project-card-top .top-img-card-2 {
	opacity: 1;
	visibility: visible;
	left: 132px;
    top: 198px;
}